*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family:microsoft yahei;
	font-size:14px;
	transition: all 0.5s;
}
a{
	color:#111;
}
.clearfix::after{
	content:"";
	display:block;
	height:0;
	overflow:hidden;
	clear:both;
}

/*以下为header*/
.header{
		float:left;
		width:100%;
		min-width:800px;
		height:70px;
		box-sizing: border-box;
		border:1px solid #555
}
.logo{
	float: left;
	width: 20%;
	
}
.header a{
	display:block;
	height:50px;
	padding:10px 20px;
	line-height:50px;
	color:black;
}
.header a:hover{
	color:red;
}
.logo a img{
	height:100%;
}
.headerNavLeft{
	float: left;
	width: 30%;
}
.headerNavLeft ul li{
	float:left;
}
.headerNavRight{
	float:right;
	width: 50%;
}
.headerNavRight ul{
	float:right;
	width: 70%;
}
.headerNavRight ul li{
	float:left;
	width: 25%;
}
.headerNavRight ul li a{
	padding: 10px 0;
	text-align: center;
}
.search{
	float:left;
	margin-top:25px;
	border-bottom:1px solid #ccc;
}
.icon-search{
	border:0;
}
.icon-search:hover{
	cursor:pointer;
}
.subsearch{
	border:0;
}
/*以下主体+导航*/
.nav1{	float:left;
	width:100%;
	background:url(../images/bk.jpg) no-repeat;
	background-size:100%;
}
.box{
	position:relative;
	width:80%;
	height:490px;
	margin:0 auto;
}
.navBackground{
	display:block;
	width:100%;
	height:490px;
	background:url(../images/57a801860001c34b12000460.jpg) no-repeat center;
	background-size: cover;
}
.nav1 ul{
	position:absolute;
	left:0;
	top:0;
	width: 20%;
	background:rgba(0,0,0,0.1);
	filter: alpha(opacity=0);
	z-index: 1;
}
.nav1 ul li{
	width: 100%;
}
.nav1 ul li a{
	display:block;
	padding: 0 2em;
	color:white;
	line-height:70px;
}
.nav1 ul li a:hover{
	background: rgba(0,0,0,0.1);
	filter: alpha(opacity=0);
}
/*以下列表*/
.course-list1,.course-list2{
	width:80%;
	margin:30px auto 0;
}
.course-list1-header,.course-list2-header{
	width:100%;
}
.more{
	float:right;
	width:40px;
	color:#888;
}
.course-list1-header h2,.course-list2-header h2{
	float:left;
	width:100px;
	
}
.course-list1 ul,.course-list2 ul{
	margin:auto;
}
.course-list1 ul li,.course-list2 ul li{
	float:left;
	box-sizing: border-box;
	width: 19%;
	margin: 0.5%;
}
.course{
	position:relative;
	display:block;
	overflow: hidden;
	height:210px;
}
.course-body{
	position:absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height:90px;
	background:white;
	border:1px solid rgba(100,100,100,1);
	box-sizing: border-box;
}
.course:hover .course-body{
	height: 150px;

}
.course-body h3,.course-body p{
	margin:5px;
	line-height: 1.5em;
}
.course-footer{
	position:absolute;
	left: 0;
	bottom:0;
	width:100%;
	padding-top: 0.5em;
	background: #fff;
	z-index: 2;
}
.prise{
	float:left;
	margin-left:5px;
	color:red;
}
.students{
	float:right;
	margin-right:5px;
	color:green;
}

.python{
	background:url(../images/57b13a3e0001bd5c05400300-360-202.jpg) no-repeat 100%;
}
.response{
	background:url(../images/576b84c10001b1c005400300-360-202.jpg) no-repeat 100%;
}
.app{
	background:url(../images/5784beee0001c31c05400300-360-202.jpg) no-repeat 100%;
}
.MySQL{
	background:url(../images/5763761f0001c35e05400300-360-202.jpg) no-repeat 100%;
}
.Node{
	background:url(../images/576376520001da3d05400300-360-202.jpg) no-repeat 100%;
}

.ssh1{
	background:url(../images/57a1ca250001b2f206000338-228-128.jpg) no-repeat;
	background-size:100%;
}
.php{
	background:url(../images/57a2aa410001189006000338-228-128.jpg) no-repeat;
	background-size:100%;
}
.android{
	background:url(../images/5784a3310001c2e506000338-228-128.jpg) no-repeat;
	background-size:100%;
}
.testerhome{
	background:url(../images/57a993e30001681106000338.jpg) no-repeat;
	background-size:100%;
}
.ssh2{
	background:url(../images/57a1ca0a00016fcc06000338-228-128.jpg) no-repeat;
	background-size:100%;
}
/*职业规划*/
.careerPath{
	width: 80%;
	height: 30em;
	margin: 0 auto;
}
.web{
	position: relative;
	height: 31em;
	margin: 1em 1em 0 0;
	background: url(../images/Web.png);
	background-size: cover;
}
.top h3{
	padding: 2em 0 0 1em;
	color: white;
	font-size: 2em;
}
.top p a{
	display: block;
	padding: 0.5em 0 0 1.5em;
	font-size: 1.2em;
	color: white;
}
.bottom{
	position: absolute;
	bottom: 0;
	padding: 1.5em;
}
.web a:hover{
	text-decoration: underline;
}
.top a:hover span{
	right: 0.5em;
}
.box_left{
	float: left;
	width: 20%;
}
.box_left a{
	color: #c03;
}
.box_middle{
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 60%;
}
.jq{
	display: flex;
	float: left;
	width: 65%;
	height: 15em;
	margin: 1em 1em 0 0;
	background: #ccc;
	justify-content: center;
	align-items: center;
}
.jqApp{ 
	background: url(../images/5833b3c40001d99104680172.jpg);
	background-size: cover;
}
.jq a{
	display: inline-block;
	color: white;
}
.jqCode{
	background: url(../images/5833b4510001f91904680172.jpg);
	background-size: cover;
}
.js{
	float: left;
	width: 30%;
	height: 15em;
	margin: 1em 1em 0 0;
	background: #cc0;
}
.box_right{
	float: right;
	width: 20%;
	height: 31em;
	margin: 1em 0 0 0;
	background: #eee;
}
.box_right ul{
	margin: 1em 0 0 1em;
}
.tool{
	background: url(../images/5784beee0001c31c05400300-360-202.jpg);
}
.ajax{
	background: url(../images/576b84c10001b1c005400300-360-202.jpg);
}
.java{
	position: relative;
	height: 31em;
	margin: 1em 1em 0 0;
	background: url(../images/Java.png);
	background-size: cover;
}
.box_left .java .bottom a{
	color: #08c;
}
.javapw{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15em;
	margin: 1em 1em 0 0;
	background: url(../images/5833b5cd00013a8907120172.jpg);
	background-size: cover;
}
.javapw a{
	color: white;
}
.java1{
	background: url(../images/548a67400001029e06000338-228-128.jpg);
}
.java2{
	background: url(../images/54af7a6d000164df06000338-228-128.jpg);
}
.java3{
	background: url(../images/5763761f0001c35e05400300-360-202.jpg);
}
.java1,.java2,.java3{
	float: left;
	width: 31.4%;
	margin: 1em 1em 0 0;
}
.java4{
	background: url(../images/570360620001390f06000338-228-128.jpg);
}
